<!DOCTYPE html>
<html>
<head>
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  margin-top: 10;
}
</style>
</head>
<body>
<div class='myDiv'>
    <h2> Welcome to Homepage</h2>
    <form class="example" action="get_books" method="post">
    <label for="by">Search By:</label>
    <select id="by" name="type">
    <option value="A">Author name</option>
    <option value="B">Book name</option>
  </select>
    <input type="text" placeholder="Search Books" name="name" required>
    <button type="submit"> Submit </button>
    </form>
    <a href="signup"> Sign up </a>
    <p>   </p>
    <a href="Login"> Login </a>
</div>
</body>
</html>
