<!DOCTYPE html>
<html>
<head>
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  margin-top: 10;
}
</style>
</head>
<body>
<div class='myDiv'>
    <h2> Welcome to Homepage</h2>
    <form class="example" action="action_page.php">
    <input type="text" placeholder="Search Books" name="search">
    <button type="submit"> Submit </button>
    </form>
    <a href="signup"> Sign up </a>
    <p>   </p>
    <a href="Login"> Login </a>
</div>
</body>
</html>
